.flight__item {
  min-height: 370px;
  font-family: $open-sans-semi-bold;
}

.flight__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 12px;

  @include size(640px, 43px);

  background-color: $blue;
}

.flight__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  color: $white;
}

.flight__price-value {
  margin: 0;
  padding-top: 3px;

  font-size: 21px;
}

.flight__price-text {
  font-size: 10px;
  word-spacing: 2px;
  padding-top: 1px;
}

.flight__direction {
  display: flex;
  align-items: center;
  padding: 5px 18px;
}

.flight__airport {
  margin: 0;
  margin-bottom: 7px;

  font-size: 18px;
}

.flight__short-name {
  color: $blue;
}

.flight__arrow {
  margin: 0;
  padding: 0 8px;
  padding-bottom: 5px;

  font-size: 14px;
  color: $blue;
}
