$open-sans-regular: "open-sans-regular", "Arial", sans-serif;
$open-sans-bold: "open-sans-bold", "Arial", sans-serif;
$arial: "Arial", "Arial", sans-serif;


$black: #000000;
$white: #ffffff;
$blue: #0087c9;
$blue-deep: #0076ff;
$grey: #425668;
$grey-metal: #d9d9d9;
$grey-dark: #828282;
$grey-light: #eeebeb;
$blue-outline: 1px solid rgba(0, 118, 255, 0.33);
